.css-1d391kg, .e1fqkh3o1{
    background-color:rgb(82 142 237);
    width: 19rem;
}

.button  
{
background-color:rgb(52 231 128);  
top: 40px; 
border: 0px solid; 
padding: 13px 0px 13px 0px;
border-radius:3px;
width: 100%; 
display: inline-block;
}

p, ol, ul, dl {
/* margin: 10px 0px 10px 10px; */
margin:0px 0px 1rem;
font-size: 1rem;
font-weight: 400;
}

/* hr {
    margin: 1em 10px;
    padding: 0px;
    color: inherit;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgba(49, 51, 63, 0.2);
} */

div.stButton > button:first-child {border: 1px solid; width: 100%;
    background-color: rgb(47 236 106) ;
}

.css-1v0mbdj, .css-1kyxreq {
    justify-content: center;
    width: 500px;
}

/* img {
  left: 100px;
  top: -100px;
  width: 500px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 70px;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 150px; */
} */

.css-1v0mbdj {
    height:85px;
}
a{
    text-decoration:none;
}


h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
/*     color: #eee; */
    letter-spacing: -0.005em;
    padding: 1rem 0px;
    margin: 0px;
    line-height: 1.4;
    text-align: center;
}

.css-10trblm{
    box-shadow: 0 2px 8px 0 #35353533;
    padding: 8px 30px;
    font-size: 18px;
}

h3{
    padding: 0.3rem 0px 0.9rem;
}

/*.css-zt5igj{
    text-align: center;
}*/

.css-1v0mbdj, .css-1kyxreq{
    justify-content: center;
}

/* For gcp logo 
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > div > div > div > img{
margin: -0.5rem 5rem 5rem 1rem;
}
/* For AWS logo 
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v0 > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div > img{
    margin: -0.5rem 5rem 5rem -3rem;  
}
/* For Deepsphere logo 
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div.css-ocqkz7.e1tzin5v0 > div:nth-child(1) > div:nth-child(1) > div > div > div > div > div > img{
    margin: 1rem 4rem 2rem 1rem; 
}
*/
#root > div:nth-child(1) > div > div > div > div > section.css-1lcbmhc.e1fqkh3o0 > div.css-1d391kg.e1fqkh3o1 > div.block-container.css-128j0gw.eknhn3m2 > div:nth-child(1) > div > div:nth-child(8) > div > div > p > a{
    text-align:center;
    vertical-align: middle;
    }


#machine-learning-application-mlops-for-vanity-license-plate-analyzer > div{
    left: calc(1rem);
    width: calc(85% + 2.5rem + 0.5rem);
}

.css-zt5igj {
    position: relative;
/*     left: calc(-1rem);
    width: calc(100% + 0rem + 0rem); */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: visible;
}


#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.egzxvld1 > div > div:nth-child(1) > div > div:nth-child(6) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div,

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.egzxvld1 > div > div:nth-child(1) > div > div:nth-child(8) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div.element-container.css-1jskl2v.e1tzin5v1 > div > section,

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.egzxvld1 > div > div:nth-child(1) > div > div:nth-child(8) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div.element-container.css-1jskl2v.e1tzin5v1 > div > label,

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.egzxvld1 > div > div:nth-child(1) > div > div:nth-child(8) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div.element-container.css-1jskl2v.e1tzin5v1 > div > div,

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.egzxvld1 > div > div:nth-child(1) > div > div:nth-child(8) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div.css-1fcdlhc.e1s6o5jp0

{
    text-align: center;
    margin: 0 -163px 0 73px;
}

#hyper-parameter-tuning > div > span,
#extract-training-data > div > span,
#model-selection > div > span,
#project-activity > div > span,
#project > div > span
{
    margin: 0 auto;
}

/* .css-1ijcamd {
    width: 716px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 1rem;
} */

/* 
.css-ml2xh6 e1tzin5v2{
	text-align: center;
    	margin: 0 -100px 0px -16px;
} */


.css-1ubcocs {
    width: 719px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 1rem;
}
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div:nth-child(6) > div.css-ml2xh6.e1tzin5v2{
 text-align: center;
    	margin: 0 -163px 0px 73px;   
}

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div:nth-child(8) > div.css-ml2xh6.e1tzin5v2{
    text-align: center;
    	margin: 0 -163px 0px 73px; 
}



.css-po3vlj {
    display: flex;
    width: 645px;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(240, 242, 246);
    border-radius: 0.25rem;
    color: rgb(49, 51, 63);
}

.css-fis6aj {
    left: 38px;
    right: -3px;
    width: 645px;
    line-height: 1.25;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.css-nl4xtn {
    width: 646px;
    margin: 0px -144px 0px -2px;
}



.css-1ijcamd {
    width: 646px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 1rem;
    margin: 0px 94px 0px 71px;
}

#hyper-parameter-tuning > div > span, #extract-training-data > div > span, #model-selection > div > span, #project-activity > div > span, #project > div > span {
    margin: 0px -5px;
}

#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div:nth-child(13) > div.css-ml2xh6.e1tzin5v2 > div:nth-child(1) > div > div.css-1fcdlhc.e1s6o5jp0{
 text-align: center;
    margin: 0px 47px 0px 0px;   
}



#feature-selection > div > span{
    text-align: center;
    margin: 0px;
}


/* For DMV logo */
#root > div:nth-child(1) > div > div > div > div > section.main.css-1v3fvcr.eknhn3m1 > div > div:nth-child(1) > div > div:nth-child(2) > div > div > div{
 width: 200px;   
}

/* DMV logo alignment */
.css-18e3th9 {
 width: 100%;   
padding: 0rem 0rem 2rem 0rem;
}